@model IEnumerable<IIProjectClient.Models.FordonPassage>
@{
    ViewBag.Title = "Sök";


}
@if (Request.IsAuthenticated)
{
    <form action="@Url.Action("Sök")" method="post">
        <div style="width:100%;">
            <div style="display:inline-block; width:27%;">
                Plats<br />
                @Html.DropDownList("Location", ViewBag.Sokning as List<SelectListItem>, new { @style = "height: 40px; border-color: white; padding:5px; margin:5px; width:95%;" })@*<br>*@
            </div>
            <div style="display:inline-block; width:27%;">
                Fr.o.m<br />
                <input type="Date" name="from" required value="2011-03-25" style="height: 30px; width: 95%;">@*<br>*@
            </div>
            <div style="display: inline-block; width: 27%;">
                T.o.m<br />
                <input type="Date" name="tom" required value="2011-11-30" style="height: 30px; width: 95%;">@*<br>*@
            </div>
            <div style="display:inline-block;">
                <br />
                <input type="submit" class="btn btn-primary " value="Sök" style="height:35px;"/>
            </div>
        </div>
        <input type="hidden" name="user" value="@User.Identity.Name">
        
    </form>

    <div>
        @if (Model != null)
        {
            <table>
                <tr>
                    <th>Tid</th>
                    <th>Plats</th>
                    <th>Fordonstyp</th>
                    <th>Innehavare</th>
                    <th>EVN</th>
                    <th>Giltigt From</th>
                    <th>Giltigt Tom</th>
                </tr>
                @foreach (IIProjectClient.Models.FordonPassage passage in Model)
                {
                    <tr>
                        <td>@passage.Tid</td>
                        <td>@passage.LocationName</td>
                        <td>@passage.FordonsTyp</td>
                        <td>@passage.Fordonsinnehavare</td>
                        <td>@passage.EVN</td>
                        @if (passage.FordonsgodkannandeGiltigtFrom != null)
                        {
                            <td>@Convert.ToDateTime(passage.FordonsgodkannandeGiltigtFrom).ToString("yyyy/MM/dd")</td>}
                        @if (passage.FordonsgodkannandeGiltigtTom != null)
                        {
                            <td>@Convert.ToDateTime(passage.FordonsgodkannandeGiltigtTom).ToString("yyyy/MM/dd")</td>}
                    </tr>

                }
            </table>
        }
    </div> 
}
else
{
    <h2>Need to login!</h2>
    @Html.ActionLink("Go to login page", "Login", "Account")
}    

